<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Aurelia Navigation Skeleton</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
    <link rel="icon" href="favicon.ico">
    <!-- imported CSS are concatenated and added automatically -->
  </head>
  <style>
    .has-error {
      color: #fc2c03;
      font-weight: 600;      
    }
    .has-error select, .has-error input {
      border: 1px solid #fc2c03;
      color: #fc2c03;
    }
    .help-block {
      color: #fc2c03;
      font-weight: 600;   
    }
  </style>
  <body aurelia-app="main">
  </body>
</html>
