<template>
    <div class="row">

        <div class="col-sm-5">
            <form submit.delegate="submitAsset()">
                <div class="mb-3" validation-errors.bind="nameErrors" class.bind="nameErrors.length ? 'has-error' : ''">
                    <label for="exampleFormControlInput1" class="form-label">Asset Name</label>
                    <input type="email" class="form-control" value.bind="asset.name & validate" id="exampleFormControlInput1" placeholder="Enter Name">
                    <span class="help-block" repeat.for="errorInfo of nameErrors">
                      ${errorInfo.error.message}
                    </span>                   
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Department</label>
                    <select class="form-control" value.bind="selectedDepartmentID" aria-label="Default select example">
                        <option model.bind="null">Select department</option>
                        <option repeat.for="department of departments"
                        model.bind="department.id">${department.name}</option>                      
                      </select>                
                    </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Country of Department</label>
                    <input type="email" class="form-control" value.bind="asset.country" id="exampleFormControlInput1" placeholder="Enter Country">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email of Department address</label>
                    <input type="email" class="form-control" value.bind="asset.email" id="exampleFormControlInput1" placeholder="Enter Email">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Purchase Date</label>
                    <input type="email" class="form-control"value.bind="asset.date" id="exampleFormControlInput1" placeholder="Enter Date">
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" checked.bind="asset.isBroken" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                      Is Broken
                    </label>
                  </div>
                  <ul if.bind="controller.errors.length > 0">
                    <li repeat.for="error of controller.errors">${error}</li>
                  </ul>
                <div class="mb-3">
                    <button class="btn btn-light" type="reset">Reset</button>

                    <button class="btn btn-primary" type="submit">Send</button>
                </div>
            </form>
        </div>
        <div class="col-sm-7">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../images/asset_placeholder.jpg" alt="asset placeholder">
                    <p class="px-1"><strong>${isBroken == false? "Good Condition": "Broken Condition"}</strong> </p>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Asset Details</h5>
                      <p class="card-text">Name: <strong>${asset.name}</strong></p>
                      <p class="card-text">Department: <strong>${departments[selectedDepartmentID - 1].name}</strong></p>
                      <p class="card-text">Country: <strong>${asset.country}</strong></p>
                      <p class="card-text">Email: <strong>${asset.email}</strong></p>
                      <p class="card-text">Date: <strong>${asset.date}</strong></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>    
    </div>
</template>