<template>
    <div class="row">

        <div class="col-sm-5">
            <form action="">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Asset Name</label>
                    <input type="email" class="form-control" value.bind="name" id="exampleFormControlInput1" placeholder="Enter Name">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Department</label>
                    <select class="form-control" value.bind="department" aria-label="Default select example">
                        <option selected>Select department</option>
                        <option value="1">HQ</option>
                        <option value="2">Store1</option>
                        <option value="3">Store2</option>
                        <option value="4">Store3</option>
                        <option value="5">MaintenanceStation</option>
                      </select>                
                    </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Country of Department</label>
                    <input type="email" class="form-control" value.bind="country" id="exampleFormControlInput1" placeholder="Enter Country">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email of Department address</label>
                    <input type="email" class="form-control" value.bind="email" id="exampleFormControlInput1" placeholder="Enter Email">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Purchase Date</label>
                    <input type="email" class="form-control"value.bind="date" id="exampleFormControlInput1" placeholder="Enter Date">
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" checked.bind="isBroken" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                      Is Broken
                    </label>
                  </div>
                <div class="mb-3">
                    <button class="btn btn-light" type="reset">Reset</button>

                    <button class="btn btn-primary" type="submit">Send</button>
                </div>
            </form>
        </div>
        <div class="col-sm-7">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../images/asset_placeholder.jpg" alt="asset placeholder">
                    <p class="px-1"><strong>${isBroken == false? "Good Condition": "Broken Condition"}</strong> </p>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Asset Details</h5>
                      <p class="card-text">Name: <strong>${name}</strong></p>
                      <p class="card-text">Department: <strong>${department}</strong></p>
                      <p class="card-text">Country: <strong>${country}</strong></p>
                      <p class="card-text">Email: <strong>${email}</strong></p>
                      <p class="card-text">Date: <strong>${date}</strong></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>    
    </div>
</template>