<template>
    <ux-dialog style="width: 500px;">

        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Asset with Name: ${asset.name} </h5>
              </div>
        <ux-dialog-body>
            <div class="modal-body">
                <form submit.delegate="submitAsset()">
                    <div class="mb-3" validation-errors.bind="nameErrors" class.bind="nameErrors.length ? 'has-error' : ''">
                        <label for="exampleFormControlInput1" class="form-label">Asset Name</label>
                        <input type="text" class="form-control" value.bind="asset.name & validateOnChange" id="exampleFormControlInput1" placeholder="Enter Name">
                        <span class="help-block" repeat.for="errorInfo of nameErrors">
                          ${errorInfo.error.message}
                        </span>                   
                    </div>
                    <div class="mb-3"  validation-errors.bind="departmentErrors" class.bind="departmentErrors.length ? 'has-error' : ''">
                        <label for="exampleFormControlInput1" class="form-label">Department</label>
                        <select class="form-control" value.bind="asset.department & validate" aria-label="Default select example">
                            <option model.bind="null">Select department</option>
                            <option repeat.for="department of departments"
                            model.bind="department.id">${department.name}</option>                      
                          </select>
                          <span class="help-block" repeat.for="errorInfo of departmentErrors">
                            ${errorInfo.error.message}
                          </span>                  
                        </div>
                    <div class="mb-3" validation-errors.bind="countryErrors" class.bind="countryErrors.length ? 'has-error' : ''">
                        <label for="exampleFormControlInput1" class="form-label">Country of Department</label>
                        <input type="text" class="form-control" value.bind="asset.country & validateOnChange" id="exampleFormControlInput1" placeholder="Enter Country">
                        <span class="help-block" repeat.for="errorInfo of countryErrors">
                          ${errorInfo.error.message}
                        </span>  
                    </div>
                    <div class="mb-3" validation-errors.bind="emailErrors" class.bind="emailErrors.length ? 'has-error' : ''">
                        <label for="exampleFormControlInput1" class="form-label">Email of Department address</label>
                        <input type="email" class="form-control" value.bind="asset.email & validateOnChange" id="exampleFormControlInput1" placeholder="Enter Email">
                        <span class="help-block" repeat.for="errorInfo of emailErrors">
                          ${errorInfo.error.message}
                        </span>  
                    </div>
                    <div class="mb-3" validation-errors.bind="dateErrors" class.bind="dateErrors.length ? 'has-error' : ''">
                        <label for="exampleFormControlInput1" class="form-label">Purchase Date</label>
                        <input type="text" class="form-control"value.bind="asset.date & validateOnChange" id="exampleFormControlInput1" placeholder="Enter Date format: yyyy-MM-dd">
                        <span class="help-block" repeat.for="errorInfo of dateErrors">
                          ${errorInfo.error.message}
                        </span>  
                    </div>
                    <div class="form-check mb-3" validation-errors.bind="isBrokenErrors" class.bind="isBrokenErrors.length ? 'has-error' : ''">
                        <input class="form-check-input" type="checkbox" checked.bind="isBroken & validateOnChange" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                          Is Broken
                        </label>
                        <span class="help-block" repeat.for="errorInfo of isBrokenErrors">
                          ${errorInfo.error.message}
                        </span>  
                      </div>
                     
                    <!-- <div class="mb-3">
                        <button disabled.bind="assetContainsValue" class="btn btn-light" type="reset">Reset</button>
    
                        <button class="btn btn-primary" type="submit" disabled.bind="controller.errors.length > 0">Send</button>
                    </div> -->
                </form>
              </div>
         
        </ux-dialog-body>
  
        <ux-dialog-footer>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" click.trigger = "dialogController.cancel()" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" click.trigger = "dialogController.ok(message)">Save changes</button>
              </div>    
        </ux-dialog-footer>	
        </div>
        </div>
        
     </ux-dialog>    



</template>